@import "normalize";
@import "compass/css3";
@import "partials/grid";
@import "partials/base";
@import "partials/header";
@import "partials/graph";
@import "partials/login";
@import "partials/dials";
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.hidden {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1
}

body {
    color: #565656;
    background: #E9EDF2;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.main-content {
    @include container();
    margin: 0 10px;
    padding: 60px 0 0;
}
