<form class="graph-toggle">
    <fieldset>
        <label for="market">Market: </label>
        <select id="market" ng-model="marketKey">
            <option value="" disabled>Market (Key)</option>
            <option value="{{market}}" ng-repeat="market in marketKeys">{{market}}</option>
        </select>
    </fieldset>
    
    <fieldset>
        <label for="openBeforeExpiry">Open (days before expiry): </label>
        <input type="text" id="openBeforeExpiry" ng-model="openBeforeExpiry" placeholder="15">
    </fieldset>

    <fieldset>
        <label for="closeBeforeExpiry">Close (days before expiry): </label>
        <input type="text" id="closeBeforeExpiry" ng-model="closeBeforeExpiry" placeholder="0">
    </fieldset>
    
    <fieldset>
        <input type="button" id="updateButton" ng-click="changeDaysToExpiry()" value="Update">
    </fieldset>
</form>

<div indicies-chart-directive chart-data="marketData"></div>
