<div class="login-form-container">
    <div class="panel dial-panel">
        <div class="panel-body">
            <h4>Login</h4>
            <form name="form" ng-submit="tryLogin()" role="form">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" ng-model="username">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" ng-model="password">
                <input type="submit" class="btn btn-success btn-sm" aria-label="Submit" id="submit" value="Log In" />
            </form>
            <span ng-show="formError" class="login-error">Incorrect username or password</span>
        </div>
    </div>
</div>
