<div class="dials-container">
    <div class="panel dial-panel">
        <div class="panel-body">
            <h4>Dials</h4>
            <form class="graph-toggle">
                <fieldset>
                    <label for="market">Market: </label>
                    <ui-select ng-model="marketKey.value" search-enabled="false" append-to-body="true">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="market in marketKeys" position="down">
                            <span ng-bind="market"></span>
                        </ui-select-choices>
                    </ui-select>
                </fieldset>
                <fieldset>
                    <label for="optionType">Option Type: </label>
                    <ui-select ng-model="optionType.value" search-enabled="false" append-to-body="true">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in optionTypes">
                            <span ng-bind="type"></span>
                        </ui-select-choices>
                    </ui-select>
                </fieldset>
                <fieldset>
                    <label for="openBeforeExpiry">DBE (Open): </label>
                    <input class="form-control" type="text" id="openBeforeExpiry" ng-model="openBeforeExpiry" placeholder="15">
                </fieldset>
                <fieldset>
                    <label for="closeBeforeExpiry">DBE (Exit): </label>
                    <input class="form-control" type="text" id="closeBeforeExpiry" ng-model="closeBeforeExpiry" placeholder="0">
                </fieldset>
                <fieldset>
                    <label for="startYear">Start Year: </label>
                    <input class="form-control" type="text" id="startYear" ng-model="startYear" placeholder="2010">
                </fieldset>
                <fieldset>
                    <input class="btn btn-success" type="button" id="updateButton" ng-click="changeDaysToExpiry()" value="Update">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="graph-container">
    <div class="panel graph-panel">
        <div class="panel-body">
            <h4>Graph</h4>
            <div class="d3-container" indicies-chart-directive chart-data="marketData" ng-class="loading ? 'loading' : ''"></div>
            <img class="gears" src="images/gears.svg" alt="Loading" ng-class="loading ? 'loading' : ''">
        </div>
    </div>
</div>
