.login-form-container {
    @include pre(3);
    @include span(6);
    @include post(3 last);

    .form-control {
        margin: 10px 0;
    }

    input[type="submit"] {
        float:right;
    } 

    .login-error {
        color: red;
    }
}
